.friday-sale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


.sale-scrollbar-banner {
    padding: 1rem;
}

.sale-image-wrapper {
    min-width: 20rem;
}

.sale-image-wrapper img {
    width: 100%;
    height: 100%;
}

.sale-scrollbar-banner {
    /* width: 100%; */
}

.custom-scrollbar::-webkit-scrollbar {
    height: 0.5rem;
    width: 70vw;
    margin-top: 6rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}